[submodule "Empirical"]
	path = third-party/Empirical
	url = https://github.com/devosoft/Empirical.git
[submodule "SignalGP"]
	path = third-party/SignalGP
	url = https://github.com/amlalejini/SignalGP.git
[submodule "psb-cpp"]
	path = third-party/psb-cpp
	url = https://github.com/amlalejini/psb-cpp.git
[submodule "Catch2"]
	path = third-party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "third-party/roll_q"]
	path = third-party/roll_q
	url = git@github.com:FergusonAJ/roll_q
